/*body {
    color: aquamarine;
}*/

.supercharged-canvas-div canvas {
    border: 5px solid grey;
    border-radius: 10px;
}

.ribbon-icon-class {
    fill: red;
}

.supercharged-table button {
    font-size: large;
    padding: 1em;
    margin: 0.25em;
}

.supercharged-table mjx-container.MathJax {
    margin: 0px!important;
}

.supercharged-table .content {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.supercharged-table button:hover

/*, .supercharged-table button:focus*/
    {
    filter: invert(100%);
    transform: scale(1.15);
    transition: all ease 0.25s;
}

.supercharged-table h2 {
    width: 100%;
    font-size: 1em;
    margin-bottom: 0;
    cursor: pointer;
}

.content {
    padding: 0 18px;
    max-height: 1000px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible:after {
    font-size: 13px;
    margin-left: 5px;
    content: "\2796";
    /* Unicode character for "minus" sign (-) */

}

.active:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
}