/* Sets all the text color to yellow! */
body {
    color: burlywood;
}

.ribbon-icon-class {
    fill: red;
}
/*
.supercharged-table td {
    
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 5%;
    padding: 0.3em;
    margin:0.3em;
    
    transition: all ease 0.5s;
}
*/
/*.supercharged-table button {
    color: white;
}*/

.supercharged-table button {
    font-size: large;
}

.supercharged-table button:hover, .supercharged-table button:focus {
    filter:invert(100%);
    transform: scale(1.15);
}